<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="infologfile" 
            xsi:type="File"          
            fileName="${basedir}/Logs/Info/${shortdate}/Info_${shortdate}.txt" 
            maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" /> />
  </targets>
  <targets>
  <target name="errorlogfile"
        xsi:type="File"
        fileName="${basedir}/Logs/Error/${shortdate}/Error_${shortdate}.txt"
        maxArchiveFiles="30"
        layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" /> />
  </targets>

  <targets>
    <target name="warnlogfile"
          xsi:type="File"
          fileName="${basedir}/Logs/Warn/${shortdate}/Warn_${shortdate}.txt"
          maxArchiveFiles="30"
          layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" /> />
  </targets>
  <targets>
    <target name="debuglogfile"
          xsi:type="File"
          fileName="${basedir}/Logs/Debug/${shortdate}/Debug_${shortdate}.txt"
          maxArchiveFiles="30"
          layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" /> />
  </targets>
  
  

  <rules>
    <logger name="*" level="Info" writeTo="infologfile" />
    <logger name="*" level="Error" writeTo="errorlogfile" />
    <logger name="*" level="Warn" writeTo="warnlogfile" />
    <logger name="*" level="Debug" writeTo="debuglogfile" />

  </rules>
</nlog>